<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/2c35d003f0.js" crossorigin="anonymous"></script>
    <title>After School Class App</title>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <div id="checkout" class="nav navbar-nav navbar-right cart">
            <button id="btnChkOut" v-if="showProducts" type="button" @click="showCart">
                {{cartItemCount}} <span class="fas fa-cart-plus"></span> Shopping Cart
            </button>
            <button id="btnClose" v-else class="btnClose" @click="closeCart" title="close cart">Close Cart <span
                    class="fas fa-cart-plus"></span></button>
        </div>
        <br />
        <div class="left">
            <menu>
                <input v-model="searchT" type="text" name="search" id="txtsearch" title="search">
                <p>Sort By:</p>
                <input v-model="sortBy" type="radio" id="subject" name="sortBy" value="subject">
                <label for="subject">Subject</label><br>
                <input v-model="sortBy" type="radio" id="location" name="sortBy" value="location" title="">
                <label for="loca">Location</label><br>
                <input v-model="sortBy" type="radio" id="price" name="sortBy" value="price" title="">
                <label for="price">Price</label><br>
                <input v-model="sortBy" type="radio" id="available" name="sortBy" value="availability" title="">
                <label for="av">Availability</label><br>
                <br />
                <input v-model="sortOrder" type="radio" id="checkAsc" name="sortOrder" value="asc" title="">
                <label for="asc">Asc</label><br>
                <input v-model="sortOrder" type="radio" id="checkDesc" name="sortOrder" value="desc" title="">
                <label for="desc">Desc</label><br>
            </menu>
        </div>
        <div class="right">
            <main>
                <!--LESSONS LIST-->
                <div id="itemList" v-if="showProducts">
                    <br />
                    <div class="item" v-for="product in products" :key="product.lessonId">
                        <p>Subject: {{product.topic}}</p>
                        <p>Location: {{product.location}}</p>
                        <p>Price: {{product.price}}</p>
                        <p>Availability: {{product.space}}</p>
                        <img alt="none" src:bind={{product.image}}>
                        <button class="btnAdd" v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to
                            Cart</button>
                        <button class="btnDisabled" disabled="disabled" v-else>Unavailable</button>
                    </div>
                    <br />
                </div>
                <!--SHOPPING CART-->
                <div id="shopCart" class="cartBox" v-else-if="showBasket">
                    <h2>Shopping Cart</h2>
                    <hr>
                    <br>
                    <p>Your Items:</p>
                    <div id="cartList" class="cartList" v-for="item in cart">
                        <p><strong>{{item.subject}}</strong></p>
                        <p><strong>Location:</strong> {{item.location}}</p>
                        <p><strong>Price:</strong> {{item.price | formatPrice}}</p>
                        <button class="btnRemove" v-on:click="removeFrmCart(item)">Remove from Cart</button>
                    </div>
                    <hr>
                    <button class="btnCheckout" v-on:click="showCheckoutPage">Continue to Checkout</button>
                </div>
                <!--CHECKOUT-->
                <div id="checkOut" class="chkoutBox" v-if="showCheckout">
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name:</strong>
                        <input type="text" v-model="order.firstName" pattern="">
                    </p>
                    <p>
                        <strong>Last Name:</strong>
                        <input type="text" v-model="order.lastName">
                    </p>
                    <p>
                        <strong>Address:</strong>
                        <input type="text" v-model="order.address">
                    </p>
                    <p>
                        <strong>City:</strong>
                        <input type="text" v-model="order.city">
                    </p>
                    <p>
                        <strong>Post Code:</strong>
                        <input type="text" v-model="order.postCode">
                    </p>
                    <p>
                        <strong>Phone:</strong>
                        <input type="text" v-model="order.phone" pattern="/^((\+44)|(0)) ?\d{4} ?\d{6}$/"
                            title="phone number">
                    </p>
                    <p></p>
                    <p>
                        <input type="radio" id="email" value="Email" v-model="order.method">
                        <label for="email">Email</label>
                    </p>
                    <p>
                        <input type="radio" id="post" value="Post" v-model="order.method">
                        <label for="post">Post</label>
                    </p>
                    <br>
                    <hr>
                    <h2>Order Information</h2>
                    <p><strong>First Name:</strong> {{order.firstName}}</p>
                    <p><strong>Last Name:</strong> {{order.lastName}}</p>
                    <p><strong>Address:</strong>{{order.address}} {{order.city}} {{order.postCode}}</p>
                    <br>
                    <button v-on:click="submitForm">Place Order</button>
                </div>
            </main>
        </div>
    </div>
    <!---VUE JS SCRIPTS-->
    <script>
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: "After School Class App",
                products: [],
                cart: [],
                searchT: "",
                sortBy: "subject",
                sortOrder: "asc",
                showProducts: true,
                showBasket: false,
                showCheckout: false,
                order: {
                    firstName: "",
                    lastName: "",
                    method: "Email"
                }
            },
            filters: {
                formatPrice: function (price) {
                    if (!parseInt(price)) { return ""; }
                    if (price > 99999) {
                        var priceString = (price / 100).toFixed(2);
                        var priceArray = priceString.split("").reverse();
                        var index = 3;
                        while (priceArray.length > index + 3) {
                            priceArray.splice(index + 3, 0, ",");
                            index += 4;
                        }
                        return "£" + priceArray.reverse().join("");
                    } else {
                        return "£" + (price / 100).toFixed(2);
                    }
                }
            },

            mounted() {
                // Make an API request when the Vue instance is mounted
                this.fetchData();
            },
            methods: {
                fetchData() {
                    // Make a GET request to the Express API
                    fetch('http://localhost:5500/lessons')
                        .then(response => response.json())
                        .then(data => {
                            this.products = data;
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                            this.message = 'Error fetching data.';
                        });
                },
                addToCart: function (product) {
                    this.cart.push(product);
                    product.space--;
                },
                canAddToCart: function (product) {
                    return product.space > 0;
                },
                showCart() {
                    if (this.cartItemCount > 0) {
                        this.showBasket = true
                        this.showProducts = false
                    }
                },
                closeCart() {
                    this.showProducts = true
                    this.showBasket = false
                    this.showCheckout = false
                },
                showCheckoutPage() {

                    if (this.cartItemCount > 0) {
                        this.showBasket = false
                        this.showProducts = false
                        this.showCheckout = true
                    }
                },
                submitForm() {
                    alert("Order Submitted!")
                },
                removeFrmCart: function (product) {
                    let selectedId = this.cart.findIndex(c => c.id == product.id);
                    if (selectedId >= 0) { //check if item found
                        var removed = this.cart.splice(selectedId, 1);
                        console.log(removed);
                        product.space++;
                    }
                }

            },
            computed: {
                
                cartItemCount: function () {
                    return this.cart.length || "";
                }
            }

        })
    </script>
    <!---CSS SCRIPTS-->
    <style>
        /*#itemList{}*/
        #app {
            margin: 0em 1em 1em 1em;
        }

        #checkout {
            float: right;
        }

        .left {
            float: left;
            padding-right: 2.5em;
            height: 100%;
        }

        .right {
            float: left;
        }

        .item {
            min-width: 15em;
            border-style: outset;
            border-width: 0.3em;
            border-color: blue;
            border-radius: 10px;
            padding: 5px;
            margin: 3px;
        }

        .btnAdd {
            color: white;
            border: 2px solid black;
            background-color: green;
        }

        .btnDisabled {
            color: white;
            border: 2px solid black;
            background-color: red;
        }
    </style>
</body>

</html>